# Python
__pycache__/
*.py[cod]
*.pyo
.Python
.venv/
venv/
env/
dist/
build/
*.egg-info/
.eggs/

# Environment
.env
*.env.local

# Data files (generated — don't commit large data)
data/
*.parquet
*.csv
*.json.gz

# dbt
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/

# Airflow
airflow/logs/
airflow/airflow.db
airflow/airflow.cfg
airflow/webserver_config.py
airflow/standalone_admin_password.txt

# Terraform
terraform/.terraform/
terraform/**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
.terraform.lock.hcl

# Great Expectations
data_quality/uncommitted/

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Pytest / Coverage
.pytest_cache/
.coverage
htmlcov/

# Spark
derby.log
metastore_db/
spark-warehouse/
